
.closed-sidebar.fixed-sidebar .app-main__outer{
    padding: 0rem;
}

*{
    font-family: 'Montserrat', sans-serif;
}
.app-header.header-shadow{
    box-shadow: none;
}
.custome-header{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 1rem 3rem;
    box-shadow: 5px 5px 10px #2323230d;
    background-color: #ffffff;
    z-index: 9999;
}
.logo-src{
    display: inline-block;
    font-weight: 800;
    font-size: 1.6rem;
    letter-spacing: .8px;
    text-decoration: none;
    color: #000;
}
.logo-src:hover{
    color: #000;
    text-decoration: none;
}
.logo-src span{
    color: #f5b402;
    text-transform: uppercase;
}
@media(max-width:768px){
    .custome-header{
        padding: 1rem .5rem;
    }
}
.breadcrums-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breadcrums-box .bar a{
    color: #26ace3;
}
.breadcrums-box .bar i{
    font-size: 1.2rem;
    color: #26ace3;
}
.custome-breadcrumbs{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: transparent;
}
.custome-breadcrumbs li{
    font-weight: 400;
    color: #000;
    font-size: .85rem;
}
.header-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header-item .flex-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-item .flex-item h4{
    font-weight: 600;
    font-size: 1rem;
}
.header-item .flex-item .form-control{
   width: 7.6rem;
   margin-left: .8rem;
   font-size: .85rem;
   font-weight: 500;
   letter-spacing: .5px;
   height: 2rem;
   cursor: pointer;
}
.header-item .flex-item .form-control:focus{
    border:1px solid #26ace3;
    box-shadow:none;
}
.header-item .header-btn{
    border-radius: 4px;
    padding: .4rem .7rem;
    font-size: .72rem;
    letter-spacing: .5px;
    color: #fff;
    font-weight: 500;
    border: none;
    text-decoration: none;
}
.header-item a:nth-of-type(1){
    background-color: #f5b402;
}
.header-item a:nth-of-type(2){
    background-color: #26ace3;
}
.gstr3bvs2a .addtional-margin{
  padding-top: 9rem;
}
.gstr3bvs2a table th{
  font-size: 12px!important;
  white-space: nowrap;
}
.gstr3bvs2a table td{
  font-size: 10.4px!important;
}
.downloadSummaryBtn,.gstinBtn,.gstr9-8AReportBlock,.downloadBtnBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.downloadSummaryBtn .header-btn{
  border: 1px solid rgb(201, 204, 207);
  background-color: #fafafa;
  color: #000;
  padding: 6px 8px;
  font-size: 11px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
}
.gstinLevel h6{
font-size: 14px;
font-weight: 600;
}
.gstinLevel span{
  font-size: 12px;
  font-weight: 500;
}
.gstinLevel span a{
  color:#0084d3;
  text-decoration: underline;
  margin: 0 4px;
  text-underline-offset: 1px;
  cursor: pointer;
}
.gstinLevel .inactiveAPI{
  background: #fff6e5;
  color: #0084d3;
  font-size: 11px;
  padding: 5px;
  margin: 0;
  font-weight: 600;
}
.gstinLevel .refreshGSTN{
background-color: #0084d3;
color: #fff;
border: none;
border-radius: 4px;
font-size: 11px;
padding: 6px;
font-weight: 600;
text-decoration: none;
}
.GSTINLevelTable .table-striped tbody tr:nth-of-type(odd){
  background-color: #fff!important;
}
@media(max-width: 768px){
    .header-item{
        flex-direction: column;
    }
    .header-item .flex-item{
       width: 100%;
       margin-top: 1rem;
         }
}
@media(max-width: 600px){
    .header-item .header-btn{
        padding: .4rem .3rem;
        font-size: .75rem;
    }
}
.corporate-name{
    display: flex;
    align-items: center;
    margin-top: .4rem;
}
.corporate-name span{
    font-weight: 500;
    letter-spacing: .4px;
    font-size: .7rem;
    margin-left: .5rem;
}
.addtional-margin{
    padding-top: 14rem;
}
.custome-container{
   margin: 0 5rem;
   font-family: 'Montserrat', sans-serif;
}
.custome-container h4{
   font-weight: 600;
   font-size: 1.1rem;
   margin-bottom: .5rem;
   color: #000;
 }
 .custome-container p,.custome-container h4 span{
    font-weight: 500;
    font-size: .85rem;
    margin-bottom: .5rem;
    color: rgb(144, 144, 144);
  }
.custome-container .filterBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.4rem;
    margin-bottom: .5rem;
}
.custome-container .filterBox span{
   font-weight: 500;
   font-size: .8rem;
   color: #000;
   letter-spacing: .5px;
}
.custome-container .filterBox .indicator{
    height: 1.4rem;
    width: 1.4rem;
    display: inline-block;
    margin-right: 1rem;
    border: 1px solid #232323;
 }
 .filterBox .indicatorBox{
    display: flex;
 }
 .custome-container .filterBox .prepared {
    background-color: #d1e7dd;
 }
 .custome-container .filterBox .difference {
    background-color: #f8d7da;
 }
 .filterBox .form-check-input{
    /* border: 1px solid #23232384; */
    border-radius: 0px;
    width: 1rem;
    height: 1rem;
 }
 .filterBox .form-check-input:focus{
   box-shadow: none;
   border: 1px solid #26ace3;
 }
 .filterBox .form-check label{
   font-weight: 500;
   font-size: .8rem;
   color: #000;
   letter-spacing: .5px;
  }
  .invoice-types__content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .invoice-types__content label{
    display: flex;
    gap: 4px;
    margin: 0;
  }
  .searchBlock td{
    border: 1px solid #ced4da;
  }
  .searchandFilter span{
    font-size: 11px;
    font-weight: 600;
  }
  .monthReportStatus .dropdown button{
    width: auto;
    background: none;
    color: #000;
    font-size: 11px;
    border: 0;
    font-weight: 600;
  }
  .monthReportStatus label{
    display: flex;
    gap: 8px;
    margin: 0;
  }
  .monthReportStatus input{
    width: 10px;
  }
  .monthReportStatus .dropdown-item{
    font-size: 10px;
    padding: 6px 10px;
  }
  .monthReportStatus .monthReportStatusBtn{
    display: flex;
    padding: 5px;
  }
  .monthReportStatus .monthReportStatusBtn button{
    padding: 0.55em 2em;
    font-size: 10px;
  }
  .monthReportStatus .monthReportStatusBtn button:first-child{
    background-color: #26ace3;
    color: #fff;
    margin-right: 10px;
  }
  .monthReportStatus .monthReportStatusBtn button:last-child{
    border: 1px solid #ccc;
    color: #0084d3;
  }
  .filterSummary td{
    font-size: 11px!important;
  }
  .searchandFilter{
    width: 130px!important;
    border: 1px solid #ced4da;
  }
  .filterSummary span{
    display: block;
  }
  .enteriesBlock span{
    font-size: 12px;
    font-weight: 600;
    margin: 0 10px;
  }
  .enteriesBlock button{
    font-size: 11px;
    border: 1px solid #ccc;
    border-left: 0;
  }
  .enteriesBlock button:first-child{
    background-color: #0084d3;
  }
  .download-btn a:first-child{
    background-color: #0084d3;
  }
  .download-btn a:last-child{
    background-color: green;
  }
  .multiMonth2AReportTable table{
    border: 1px solid #ccc;
  }
  .multiMonth2AReportTable input{
    height: 27px;
    margin-top: 4px;
    text-indent: 2px;
  }
  .multiMonth2AReportTable td.nodata{
    font-size: 13px;
  }
  .multiMonth2AReportTable th{
    font-size: 10px!important;
    border-top: 1px solid #ccc
  }
  .multiMonth2AReportTable td{
    font-size: 12px;
  }
  .gstr9-8AReportBlock .infoBlock,.gstr9-8AReportBlock .yearBlock{
    line-height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 25px;
    width: 49%;
  }
  .gstr9-8AReportBlock h6{
    font-size: 0.90rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .gstr9-8AReportBlock p{
    color: #000;
    font-size: 0.78rem;
    font-weight: 400;
  }
  .gstr9-8AReportBlock .selectBlock{
    margin-top: 25px;
  }
  .gstr9-8AReportBlock .selectBlock label{
    color: rgb(51, 51, 51);
    font-size: 13px;
    line-height: 1.31203rem;
    font-weight: 600;
    margin-right: 10px;
  }
  .gstr9-8AReportBlock .selectBlock select{
    min-height: 30px;
    padding: 8px 30px 8px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    min-width: 150px;
    max-width: 100%;
    cursor: pointer;
    outline: 0;
  }
  .gstr9-8AReportBlock .downloadBtnBlock{
    width: 100%;
    margin: 25px auto 22px auto;
  }
   .downloadBtnBlock .download-gstn-btn,.downloadBtnBlock .download-report-btn{
    font-size: 12px;
    border: 0;
    outline: 0;
    background-color: #f5b402;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-weight: 600;
    width: 14rem;
  }
  .gstr9-8AReportBlock button i{
    margin-left: 4px;
  }
  .downloadBtnBlock .download-report-btn{
    background-color: #0084d3;
    width: 11rem;
  }
  .downloadBtnBlock .dropdown ul{
    top: 3px!important;
    line-height: 25px;
  }
  .downloadBtnBlock a.dropdown-item{
    background-color: transparent;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
  }
  .downloadBtnBlock a.dropdown-item:hover{
    color: #0084d3;
  }
  .sampleReport h5{
    font-size: 16px;
    color: #a1a1a1;
    font-weight: 600;
  }
  .sampleReport .reportText{
    background: rgba(3, 138, 12, 0.92);
    color: #fff;
    padding: 10px;
    font-size: 14px;
  }
  .sampleReport .sampleReportImg{
    margin: 25px auto;
    width: 100%;
  }

  .itcTable table{
    width: 100%;
  }
  .itcTable .table-head th{
    color: #fff!important;
    white-space: nowrap;
 }
 .itcTable .table-head th:nth-child(1){
  border-top-left-radius: 4px;
 }
 .itcTable .table-head th:nth-child(7){
  border-top-right-radius: 4px;
 }
  .itcTable .table-head{
    background-color: #0084d3!important;
  }
  .itcTable .table-head th:nth-child(1) i{
    margin-right: 10px;
  }
  .nav-tabs.itcTabs{
    border: none;
  }
  .itcTabs li a{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #0084d3;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.15s ease-in;
  }
  .itcTabs li a.active{
    font-weight: 600;
    border-bottom: 4px solid #0084d3;
  }
  .filterApply{
    font-size: 0.82rem;
    font-weight: 600;
  }
  .filterApply span{
    color: #a1a1a1;
    font-weight: 600;
  }
  .documentWiseDetails{
    margin: auto;
  }
  .documentWiseDetails h4{
    font-size: 1.2rem;
    font-weight: 600;
  }
  .documentWiseDetails .downloadBtnBlock{
    justify-content: center;
  }
  .documentWiseDetails .downloadBtnBlock button{
    padding: 10px;
  }
  .itcBtnGroup button{
    padding: 10px;
    border: none;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    min-height: 42px;
    transition: all 0.3s ease-out 0s;
  }
  .itcBtnGroup button:first-child{
    border-radius: 4px 0px 0px 4px;
    background-color:#0084d3;
    color: rgb(255, 255, 255);
  }
  .itcBtnGroup button:last-child{
    color: #000;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(190, 194, 204);
  }
  @media(max-width: 991px){
    .custome-container .filterBox{
        flex-direction: column;
    }
    .filterBox .form-check{
        margin-top: 1rem;
    }
    .custome-container .filterBox span{
        font-size: .65rem;
     }
     .gstr9-8AReportBlock .infoBlock,.gstr9-8AReportBlock .yearBlock{
      width: 100%!important;
      margin: 10px 0;
    }
  }
  .filterBox .form-check{
   z-index: 1;
 }
  @media(max-width: 768px){
    .addtional-margin{
        padding-top: 14rem;
    }
    .custome-container{
       margin: 0 1rem;
       font-family: 'Montserrat', sans-serif;
    }
    .filterBox .form-check label{
        font-size: .7rem;
       }

  }

  /* =========================================Accordian Table============================================ */
  .table-responsive::-webkit-scrollbar {
    display: none; 
 }
  .table-responsive th {
    letter-spacing: .5px;
  }
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    background-color: #26ace3;
    color: #fff;
    height: 2.5rem;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 0;
  }
  .table-header .headerFlexItem span {
    text-transform: capitalize;
  }
  .tableAccordian td a,
  .tableAccordian td span {
    cursor: pointer;
  }
 
  
  .tableAccordian th {
    font-size: 11px !important;
  }
  .tableAccordian td,
  .tableAccordian .table-body th {
    font-size: 10px !important;
  }
  .max-width td {
    width: 100px;
    max-width: 100%;
  }
  .TL_accordion {
    cursor: pointer;
  }
  tr .TL_accordion::before {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 12px;
    margin: 1px 4px 0 0;
  }
  .TL_accordionTable {
    padding: 0;
    margin: 0;
  }
  .TL_accordionrow {
    padding: 0 !important;
    margin: 0;
  }
  tr[aria-expanded="true"] .TL_accordion::before {
    content: "\f106";
    font-family: FontAwesome;
    margin: 0 4px 0 0;
  }
  .openall,
  .closeall,.openallSection,.closeallSection {
    cursor: pointer;
  }
  .closeall,.closeallSection {
    visibility: hidden;
  }
  .itcTableTitleRow{
    background-color: #f5b402!important;
  }
  .itcTableTitleRow th{
    font-size: 0.85rem!important;
    padding: 10px;
  }
   /* ============================================================================================================ */
   .table-responsive .table .data-width{
        min-width: 20rem;
        padding: .5rem;
   }
   .bg-grey{
    background-color: #eeee!important;
   }
   .bg-white{
    background-color: #fff;
   }
   .search-container {
    position: relative;
    display: inline-block;
    margin: 4px 2px;
    height: 50px;
    width: 50px;
    vertical-align: bottom;
  }
  
  .mglass {
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }
  
  .searchbutton {
    position: absolute;
    font-size: 25px;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .search:focus + .searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: white;
    color: black;
  }
  
  .search {
    position: absolute;
    left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
    width: 0;
    height: 32px;
    outline: none;
    border: none;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
  }
  
  .search:focus {
    width: 203px; /* Bar width+1px */
    padding: 0 16px 0 0;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  
  .expandright {
    left: auto;
    right: 55px; /* Button width-1px */
  }
  
  .expandright:focus {
    padding: 0 0 0 8px;
  }