*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    min-width: 350px;
    line-height: 1;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* ======================NAVBAR================================ */
.navbar{
    position:fixed;
    width:100%;
    z-index: 1000000;
    top:0;
    background-color: #000;
    color: #fff;
	transition: top 0.5s ease;
}
.nav-item a{
	cursor: pointer!important;
}
.navbar .nav-link{
    font-weight: 600;
    color: #fff;
	font-size: 16.5px;
}
.navbar .nav-link:hover{
	color:#f5b402!important;
	border-bottom: 4px solid #f5b402;
    line-height: 15px;

}
.navbar-nav  .nav-btn .nav-link:hover{
	border:none;
	line-height: normal;
	color: #fff!important;
}
.navbar .nav-link i{
	font-size: 12px;
    margin-left: 2px;
}

.navbar .navbar-brand,.copyRightText .navbar-brand{
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.navbar .navbar-brand:hover{
    color: #fff;
}
.navbar-toggler {
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }

  .navbar-toggler-icon {
    background-image: none;
    
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
.navbar .navbar-brand span, .copyRightText .navbar-brand span{
   color: #f5b402;
}
.navbar .nav-item{
    margin: 0 .42rem;
}
@media(min-width:992px){
    .dropdown-toggle::after { 
        content: none;
    } 
} 
.nav-item .dropdown-toggle:hover{
    cursor: auto;
    transition: .3s ease;
}
.nav-item .dropdown-menu{
    border-radius: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.28);  
	padding: 0;
	line-height: 15px;
}
.dropdown-menu .dropdown-item{
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 1rem;
   transition: padding .3s ease;
}
.dropdown-menu .dropdown-item{
	font-size: 12px;
	padding: 10px;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #26ace3;
    color: #fff;
    padding-left: .7rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
	color: #fff;
	opacity: 0.8;
}
.nav-item .dropdown-toggle:hover{
	background-color: transparent;
	color: #fff;
}
.nav-item .nav-link:hover{
	background-color: transparent;
	color: #fff ;
}
/*================== */
.nav-btn{
	border-radius: 4px;
	padding: .1rem .4rem;
	letter-spacing: .5px;
	border: 1px solid #fff;
}
.nav-btn:hover{
	opacity: 0.7;
}
#enquiry a:hover{
	opacity: 0.7;
}
.sendbtn:hover{
	opacity: 0.9;
}
.nav-btn .nav-link{
	font-size:14.5px;
}
#loginBtn{
	background-color: #fff;
	color: #fff;
	border: 1px solid #fff;
}
#loginBtn .nav-link{
	color:#000!important;
	font-size:14.5px;
}
@media(max-width:991px){
	.navbar-nav .nav-btn{
		margin-bottom: 1rem;
		display: inline-block;
	}
}
@media(min-width:768px){
	.navbar{
		padding: 1rem 2rem;
	}
}
/* ========================Footer================================ */
.footer-row{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px
}
ul{
	list-style: none;
	line-height: 30px;
}
ul.navbar-nav{
	line-height: normal;
}
.footer{
	background-color: #24262b;
    padding: 80px 0 35px 0;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f5b402;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
    background-color: #24262b ;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.social-links a:nth-of-type(1):hover{
   color: #0000ff;
}
.social-links a:nth-of-type(2):hover{
    color: #000;
 }
 .social-links a:nth-of-type(3):hover{
    color: #962fbf;
 }
 .social-links a:nth-of-type(4):hover{
    color: #0072b1;
 }
 @media(max-width:992px){
    .footer-col{
        margin-bottom: 2rem;
    }
}
.addressBox{
	color: #fff;
	margin-top: .5rem;
	font-size: .9rem;
}
.addressBox p{
	line-height: 1.6;
	font-size: 0.95rem;
	color: #fff;
}
.copyRightText{
	color: #fff;
	text-align-last: center;
	margin-top: 2rem;
	border-top: 1px solid #fff;
	padding-top: 2rem;
}
.copyRightText p{
	font-size: .9rem;
	letter-spacing: .5px;
}
#enquiry{
    position: fixed;
    bottom: 40%;
    right: 0px;
    border-radius: 0px;
    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
	box-shadow: 5px 5px 10px #aaa;
	/* border-radius: 4px; */
	border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
	cursor: pointer;
	z-index: 9999;
}
#enquiry a{
	display: inline-block;
	writing-mode: vertical-rl; 
	/* text-orientation: upright; */
	letter-spacing: 2px;
	transform: scale(1, 1);
	white-space: nowrap;
	font-size: 16px;
	padding: 10px 8px; 
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}
@media(max-width:600px){
	#enquiry a{
		font-size: 12px;
		padding: 4px; 
	}
}
#enquiryModal .modal-content{
	max-width: 80%;
	margin: auto;
	box-shadow: 5px -5px -5px 5px 10px #232323;
	border-radius: 4px;
	padding-bottom: 1.4rem;
}
#enquiryModal .modal-content label{
	font-weight: 600;
	font-size: .9rem;
	letter-spacing: .4px;
}
#enquiryModal .modal-content .modal-title{
	font-weight: 500;
	font-size: 1.6rem;
	padding-top: .5rem;
}
#enquiryModal .modal-content .message{
	font-weight: 500;
	font-size: .82rem;
	color: #232323;
	letter-spacing: .5px;
	padding: 0 .2rem;
}
#enquiryModal .modal-content label span{
	padding: 0 .2rem;
	color: #ff0000;
}
#enquiryModal .modal-content textarea{
	min-height: 6rem;
}
#enquiryModal .modal-content .btns{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#enquiryModal .modal-content .btns a{
	border-radius: 4px;
	color: #fff;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: capitalize;
}
#enquiryModal .modal-content .btns .sendmsg{
	background-color: #26ace3;
}