body a{
    text-decoration: none;
    color: #3f6ad8;
}
body a:hover{
    text-decoration: none;
}
.breadcrumbs a{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #3f6ad8;
    letter-spacing: .5px;
}
.header-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.header-btn a{
    padding: .4rem 1rem;
    display: inline-block;
    margin-right: .5rem;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .5px;
    text-decoration: none;
    outline: none;
}
.header-btn .add-btn a{
    border: 1px solid #26ace3;
    color: #26ace3;
}
.header-btn .add-btn .selected{
    background-color: #26ace3;
    color: #fff;
}
.retrun-btn a{
    background-color: #ff9800;
    border: 1px solid #ff9800;
    color: #fff;
}
.content {
    display: none;
  }
  .active-content {
    display: block;
  }
@media(max-width:550px){
    .header-btn{
        flex-direction: column;
        justify-content: center !important;
        display: block;
        align-items: center;
    }
    .header-btn a{
       margin-bottom: 1rem;
    }
    .btn-child{
        display: flex;
        justify-content: space-between !important;
    }
}
.table-responsive .table th{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    color: #000;
    font-size: .85rem;
}
.table-responsive .table td{
    color: #000;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    font-size: .8rem;
}
.samll-font-table .table th{
    font-size: .75rem;
}
.samll-font-table .table td{
    font-size: .7rem;
}
.samll-font-table .table input{
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
}
.table-responsive .table .totalCount{
  background-color: #fff8dc;
}
.breadcrumbs{
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .breadcrumb a{
    font-weight: 500;
    color: #5676ff;
    letter-spacing: .5px;
    font-size: .85rem;
  }
.main-heading{
    color: #000;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}
.details-box{
    border: 1px solid #23232327;
    border-radius: 4px;
    margin : 1.5rem auto;
    padding: 1.2rem .5rem;
}
.form-label {
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    font-size: .8rem;
}
.form-label span{
    color: #ff0000;
    font-weight: 600;
}
.form-control{
    font-size: .85rem;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    letter-spacing: .5px;
    font-weight: 500;
}
.disabled{
    cursor: not-allowed;
}
.details-box h4{
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .2rem;
    margin-top: .5rem;
}

.main-btn a{
    padding: .4rem 1rem;
    display: inline-block;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    text-decoration: none;
    color: #fff;
}
.main-btn a:nth-of-type(1){
    border-right: none;
    background-color: #26ace3;
}
.main-btn a:nth-of-type(2){
    background-color: #6c757d;
}
@media(max-width:768px){
    .btn-box{
        flex-direction: column;
    }
    .main-btn{
       margin-top: 1rem;
    }
}
.breadcrumbs{
    padding: 1rem;
    border-radius: 4px;
}
.breadcrumbs a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.header-btn-bg{
    padding: .5rem 1rem ;
    margin-bottom: 2rem;
}
@media(max-width:768px){
    .header-btn-bg{
      display: flex;
    }
}
#customeTable th{
    font-size: .7rem;
}
#customeTable td{
    font-size: .69rem;
    letter-spacing: .8px;
}
.table-responsive .table td {
    max-width: 55rem;
}
/* =============================Custome Header======================== */
.custome-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem .7rem .5rem .7rem;
    background-color: #eee;
    align-items: center;
}
.custome-header .client-name{
    font-weight: 600;
    letter-spacing: .5px;
    color: #000;
    font-size: .9rem;
}
.custome-header .header-link{
    font-weight: 500;
    margin-right: .4rem;
    display: inline-block;
    font-size: .8rem;
    color: #000;
}
.custome-header .header-link a{
    color: #3f6ad8;
    text-transform: capitalize;
}
.custome-header .header-item{
    margin-bottom: .2rem;
}
.custome-header .header-link a img{
    mix-blend-mode:multiply;
}
.custome-dropdowm{
    display: flex;
    align-items: center;
}
@media(max-width:600px){
    .custome-header{
        flex-direction: column;
    }
    .custome-header .header-item{
        margin-bottom: .5rem;
    }
    .custome-header .custome-dropdowm{
        max-width: 90%;
        width: 100%;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
}
.return-section{
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.return-section span{
    font-weight: 600;
    margin-right: .6rem;
    color: #999;
}
/* ===================Toggle switch========================= */
.custome-toggle{
    margin-right: .5rem;
}
.custome-toggle .new{
    margin-right: 2.2rem;
    color: #26ace3;
}
.custome-toggle .old{
    color: #34a853;
}
.custome-toggle .new strong{
   font-weight: 600;
   font-size: .7rem;
   color: #000;
}
.custome-toggle label{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: .65rem;
    color: #000;
}
.filling-btn{
    margin: 0 .5rem;
}
.filling-btn a{
    margin: 0 .5rem;
    padding: .4rem .9rem;
    display: inline-block;
    letter-spacing: .5px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
}
.filling-btn a:nth-of-type(1){
   background-color: #26ace3;
}
.filling-btn a:nth-of-type(2){
    background-color: #ff9800;
 }
 .breadcrumbs-top{
    border-radius: 0;
    margin-top: 0;
}
.table-responsive .colspan-row{
    background-color: #d1e7dd !important;
}
.table-responsive .colspan-row th{
    font-size: 1 !important;
    font-weight: 700;
    color: #3a579a !important;
    letter-spacing: .5px;
}
.table-responsive .table-header{
    background-color: #e3d5ca !important;
}
.fy-year{
    border: 1px solid #999;
    padding: .4rem .6rem;
    border-radius: 4px;
    color: #000;
    font-weight: 600;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    cursor: not-allowed;
}
@media(max-width:1100px){
    .custome-header{
        flex-direction: column;
    }
    .custome-header .header-item{
        margin-bottom: .5rem;
    }
    .custome-header .custome-dropdowm{
        max-width: 90%;
        width: 100%;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
    .custome-dropdowm{
        flex-direction: column;
        justify-content: space-around;
    }
    .filling-btn{
        margin:  .6rem 0;
    }
}
/* ========================== */
.main-heading{
    text-align: center;
}
.main-heading h4{
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 1.25rem;
    letter-spacing: .5px;
}
.input-group{
    border: 1px solid #999;
    margin: auto;
    padding: .5rem;
}
.detele-btn{
    display: flex;
    text-align: center;
    justify-content: center;
}
.add-new-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
.add-new-btn button{
    padding: .5rem 1rem;
    background-color: #34a853;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .5px;
}
.emlpoyer-type{
    display: flex;
    flex-direction: row;
}
.emlpoyer-type a{
    min-width: fit-content;
    vertical-align: middle;
    text-align: center;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    padding: .4rem 1rem;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .5px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ff9800;
    color: #ff9800;
}
.emlpoyer-type .selected{
    background-color: #26ace3;
    border: 1px solid #26ace3;
    color: #fff;
}
@media(max-width:768px){
    .add-new-btn{
        flex-direction: column;
        flex-wrap: wrap !important;
    }
    .add-new-btn button{
       margin-bottom: 1rem;
    }
}
@media(max-width:550px){
    .emlpoyer-type{
       flex-wrap: wrap;
    }
    .emlpoyer-type a{
       margin-top: .6rem;
       margin-bottom: .6rem;
    }
}
/* ======================Accordian======================= */
.accordion-body .accordion-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: .85rem;
}
.accordion .accordion-header .accordion-button{
    font-family: 'Montserrat', sans-serif;
   font-size: .8rem;
   font-weight: 500;
   color: #000;
 }
.accordion .accordion-header strong{
   margin-right: .25rem;
   font-weight: bold;
   color: #000;
}
/* =======================Horizontal Stepper=================== */
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
.md-stepper-horizontal {
    font-family: 'Montserrat', sans-serif;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
@media(max-width:768px){
    .md-stepper-horizontal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .md-stepper-horizontal .md-step .md-step-title{
        font-size: .7rem;
    }
}
/* =======================custome Tab design====================== */
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  .tabs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
  }
  
  .tabs .tab{
    border: 1px solid #F96302;
    margin-right: 1rem;
    border-radius: 4px;
    padding: .5rem 1.2rem;
    font-weight: 500;
    color: #F96302;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: .85rem;
  }
  .tab.active {
    background-color: #26ace3;
    color: #fff;
    border: 1px solid #26ace3;
  }
  
  .tab-content {
    border: 1px solid green;
    margin-top: .5rem;
  }
  #noButton, #yesButton{
    border: none;
    outline: none;
    font-weight: 500;
    padding: .1rem .6rem;
    border-radius: 4px;
    border: 1px solid #26ace3;
    color: #000;
    background-color: #fff;
  }
  #yesContent{
    display: none;
  }
  #yesButton.active {
    background-color: #26ace3;
    color: #fff; 
  }

  #noButton.active {
    background-color: #26ace3;
    color: #fff; 
  }
  .toggleTable{
    border: none;
    outline: none;
    font-weight: 500;
    padding: .1rem .6rem;
    border-radius: 4px;
    border: 1px solid #26ace3;
    color: #000;
    background-color: #fff;
  }
  .button-group button{
    border: none;
    outline: none;
    font-weight: 500;
    padding: .1rem .6rem;
    border-radius: 4px;
    border: 1px solid #26ace3;
    color: #000;
    background-color: #fff;
  }
  .button-group button.active{
   background-color: #26ace3;
   color:#fff;
  }
  /* =========================== Add and Remove row from the table====================== */
._table :is(th, td) {
    border: 1px solid #0002;
    padding: 8px 10px;
}
.success {
    background-color: #24b96f !important;
}

.warning {
    background-color: #ebba33 !important;
}

.primary {
    background-color: #259dff !important;
}

.secondery {
    background-color: #00bcd4 !important;
}

.danger {
    background-color: #ff5722 !important;
}

.action_container {
    display: inline-flex;
}

.action_container>* {
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.action_container>*+* {
    border-left: 1px solid #fff5;
}

.action_container>*:hover {
    filter: hue-rotate(-20deg) brightness(0.97);
    transform: scale(1.05);
    border-color: transparent;
    box-shadow: 0 2px 10px #0004;
    border-radius: 2px;
}

.action_container>*:active {
    transition: unset;
    transform: scale(.95);
}

.padding-less-input .table .form-control{
    padding: 0;
    outline: none;
}
.padding-less-input .table .form-control:focus{
    outline: none;
    box-shadow: none;
}
.padding-less-input .table td{
    padding: .1rem;
}
/* ========================ITR Review====================== */
.review-box{
    border: 1px solid #dad7cd;
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
}
.review-box .review-child{
    padding: .5rem 1rem;
    background-color: #ffd166;
}
.review-box .review-child p{
   color: #000;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   font-size: .85rem;
   margin-bottom: .2rem;
}
.review-box .review-child a{
    color: #F96302;
    font-weight: 600;
    font-size: .85rem;
    letter-spacing: .5px;
    display: inline-block;
 }
 .review-box h4{
    font-weight: 600;
    font-size: 1rem;
    color: #000;
    letter-spacing: .5px;
 }
 .review-box ol li{
   font-size: .8rem;
   color: #000 !important;
 }
 .filing-btns{
    padding: .5rem 1rem;
    margin-bottom: 1rem;
 }
  .filing-btns a{
    padding: .5rem 1rem;
    margin-right: .5rem;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    border: none;
    color: #fff;
    letter-spacing: .5px;
 }
 .filing-btns a:nth-of-type(1){
    background-color: #2a850e;
 }
 .filing-btns a:nth-of-type(2){
    background-color: #ff9800;
 }
 .header-color{
    background-color: #fdf0d5;
 }
 .custome-header-margin{
    margin-top: 3.5rem;
 }
 /* =================================House-propery=========================== */
 .tab-container {
    display: flex;
  }

  .tab-button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    user-select: none;
  }

  .tab-button.active {
    background-color: #ddd;
  }

  .tables-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }

  .table-set {
    display: none;
  }

  .table-set.active {
    display: flex;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table, th, td {
    border: 1px solid #ddd;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  .delete-button {
    margin-top: 10px;
    padding: 8px;
    background-color: #ff6961;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .group-btn-box{
    padding: 1rem;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
  }
  .group-btn-box .btn-item{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  .group-btn-box .btn-item a{
    border: 1px solid #F96302;
    display: inline-block;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    letter-spacing: .5px;
    color: #F96302;
    text-decoration: none;
    text-transform: capitalize;
    font-size: .8rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }
  .group-btn-box .btn-item .selected{
    background-color: #F96302;
    color: #fff;
  }
  .group-btn-box .offcanvas-btn{
    border: 1px solid #ff5722;
    border-color: #ff5722;
    padding: .1rem .7rem;
    border-radius: 4px;
  }
  .group-btn-box .offcanvas-btn i{
    color: #ff5722;
    font-size: 1rem;
  }
  .canvas-links a{
    display: block;
    padding: .2rem 1rem;
    letter-spacing: .5px;
    background-color: #edede9;
    color: #000;
    font-weight: 500;
    margin-bottom: .5rem;
    font-size: .7rem;
    transition: all .3s ease;
    display: flex;
    align-items: center;
  }
  .canvas-links a i{
    font-size: .7rem;
    font-size: 500;
    padding: .5rem;
    display: flex;
    font-size: .75rem;
    display: inline-block;
    margin-left: .4rem;
  }
  .canvas-links a:hover{
    background-color: #F96302;
    color: #fff;
  }
  .canvas-links .selected{
    background-color: #F96302;
    color: #fff;
  }
  /* ==================Custome  TABS==============================*/
 .responsive-tabs {
	display: flex;
	flex-wrap: wrap; 
    font-family: 'Montserrat', sans-serif;
}
.responsive-tabs .table-responsive table{
    font-family: 'Montserrat', sans-serif;
}
.responsive-tabs .table-responsive table th, .responsive-tabs .table-responsive table td {
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    padding: .5rem .2rem;
}
.hideScrollbar::-webkit-scrollbar{
    display: none; 
   }
.responsive-tabs label {
	order: 1;
	display: block;
	padding: .6rem 1.2rem;
	margin-right: 0.2rem;
	cursor: pointer;
    background: #90CAF9;
    transition: background ease 0.2s;
    font-weight: 600;
    color: #000;
    letter-spacing: .5px;
    font-size: .8rem;
    margin-bottom: 0;
}
.responsive-tabs .tab {
  order: 99; 
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #f6f6f6;
}
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-year-field,
  input[type='date']:not(:focus):in-range::-webkit-datetime-edit-month-field,
  input[type='date']:not(:focus):in-range::-webkit-datetime-edit-day-field,
  input[type='date']:not(:focus):in-range::-webkit-datetime-edit-text {
 color: transparent;
  }
  
.responsive-tabs input[type="radio"] {
	display: none;
}
.responsive-tabs input[type="radio"]:checked + label {
	background: #f6f6f6;
    margin-right: 0;
    margin-left: 0;
}
.responsive-tabs input[type="radio"]:checked + label + .tab {
	display: block;
}

@media (max-width: 45em) {
  .responsive-tabs .tab,
  .responsive-tabs label {
    order: initial;
  }
  .responsive-tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/* ======================Export btn============== */
.export-btn{
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    padding: 1rem;
}
.export-btn .main-heading{
   margin-top: 0;
   margin-bottom: 0;
}
.main-heading h4{
    text-align: center;
}
.export-btn .btn-list{
    text-align: right;
}
.export-btn .btn-list a{
    border: 1px solid green;
    padding: .4rem .6rem;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: .7rem;
    font-weight: 500;
    margin-right: .4rem;
}
.export-btn .btn-list a:nth-of-type(1){
    background-color: transparent;
    color: #F96302;
    border: 1px solid #F96302;
 }
.export-btn .btn-list a:nth-of-type(2), .export-btn .btn-list a:nth-of-type(3){
    background-color: #26ace3;
    border: 1px solid #26ace3;
    color: #fff;
 }
 @media(max-width: 600px){
    .export-btn{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .export-btn .main-heading{
        margin-bottom: .6rem;
     }
     .export-btn{
        padding: 0;
    }
    .export-btn .btn-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .export-btn .btn-list a{
       margin-bottom: .5rem;
    }
 }
 /* =========================import modal================== */
.file-upload {
    background-color: #ffffff;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #26ace3;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #26ace3;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #26ace3;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #26ace3;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #26ace3;
    border: 4px dashed #ffffff;
  }
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .import-file-modal .modal-content{
    border-radius: 0;
  }
  .import-file-modal .modal-header h1{
    color: #000;
    font-weight: 500;
  }
  
  .text-msg h4{
    font-size: .95rem;
    color: #000;
    font-weight: 500;
  }
  .text-msg a{
    font-size: .9rem;
    font-weight: 500;
    color: #3f6ad8;
  }
/* ===================Floating BTN=========================== */
#floatingBtn{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0;
}
.bn632-hover {
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    padding: .6rem 1.2rem;
    border-radius: 1.76rem ;
    letter-spacing: .5px;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn18 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }
  /* ============== aisShares Modal =========== */
  #aisShares .modal-dialog{
    width: 1500px;
    max-width: 100%;
    margin: 2rem auto;
  }
 /* ====================custome tab================== */
 .tab-flex{
  display: flex;
  justify-content: space-between;
 }
 .tabList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.tab-flex .preview-btn{
  padding: .4rem .8rem;
  border-radius: 4px;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: .6px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #fff;

}
.tabBtn {
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: .5rem;
  border: 1px solid #000;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  letter-spacing: .5px;
}

.tabBtn:hover {
  background-color: #f0f0f0;
  transition: .2s ease;
}

.tabBtn.active {
  background-color: #F96302;
  border: 1px solid #F96302;
  color: #fff;
}

.tab-data {
  display: none;
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: .5rem;
}

.tab-data.active {
  display: block;
}
@media(max-width:600px){
  .tabBtn {
    padding: .4rem .8rem;
    font-size: .7rem;
  }
}
 .table-header{
  border-radius: 0px;
  background-color: #ebf5e0;
  padding: .4rem .8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: .85rem;
}
.table-responsive .table .table-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-responsive .table .flex-table-row{
  background-color: #c2f8cb;
}
.table-responsive .table .flex-table-row td span {
  color: #000;
  font-weight: 600;
}
.edit-data-box .table-responsive .table{
  font-family: 'Montserrat', sans-serif;
}
.edit-data-box .table-responsive .table td{
  font-family: 'Montserrat', sans-serif;
  padding:  .2rem;
  font-size: .78rem;
}
.edit-data-box .table-responsive .table th{
  font-family: 'Montserrat', sans-serif;
  padding:  .2rem;
  font-size: .8rem;
}
.table-accordian{
  margin-top: .5rem;
}
.table-accordian .accordion-header{
  border-radius: 0px;
}
.table-accordian .accordion-header h2{
  border-radius: 0px;
}
.table-accordian .accordion-header button{
  border-radius: 0px !important;
  padding: .6rem 1.4rem;
  background-color: #3cdc9f;
  font-weight: 600 !important;
  outline: none;
  font-size: .7rem;
}
.edit-data-box .table-responsive .table{
  font-family: 'Montserrat', sans-serif;
}
.edit-data-box .table-responsive .table td{
  font-family: 'Montserrat', sans-serif;
  padding:  .35rem .2rem;
  font-size: .7rem;
}
.edit-data-box .table-responsive .table th{
  font-family: 'Montserrat', sans-serif;
  padding:  .2rem;
  font-size: .7rem;
}
.edit-data-box .table-responsive .table .form-control{
 border-radius: 2px;
 padding: .3rem .5rem;
 outline: none;
 border: 1px solid #2323235f;
 font-weight: 500;
 color: #000;
 font-family: 'Montserrat', sans-serif;
 font-size: .75rem;
 height: 1.8rem;
}
.edit-data-box .table-responsive .table .form-select{
  border-radius: 2px;
  outline: none;
  border: 1px solid #2323235f;
  font-weight: 500;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  height: 1.8rem;
 }
 .edit-data-box .table-responsive .table .col{
  padding: .1rem 0rem;

 }
.edit-data-box .table-responsive .table .form-control:active{
  border: 1px solid #26ace3;
 }
 .edit-data-box .table-responsive .table .form-control:focus{
  border: 1px solid #26ace3;
 }
 .edit-data-box .table-responsive .form-control {  
  box-shadow: none;
 -webkit-box-shadow: none !important;
 outline: -webkit-focus-ring-color auto 0px!important;
} 
 .action_container button{
  margin: 0 .5rem;
 }
/* =================Remove shadow on accordian Btn================== */
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed)::after{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed::after {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-body {
  padding: 0rem;
}
.bussiness-info-btn{
  margin-bottom: .5rem;
}
.bussiness-info-btn a{
  display: inline-block;
  margin-right: .5rem;
  padding: .4rem .8rem;
  letter-spacing: .5px;
  font-weight: 500;
  font-size: .8rem;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid #F96302;
  color: #F96302;
}
.bussiness-info-btn .selected{
  background-color: #F96302;
  color: #fff;
}
@media(max-width:500px){
  .bussiness-info-btn a{
    padding: .35rem .6rem;
    font-size: .7rem;
    margin-bottom: .5rem;
  }
}
.bussiness-info-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}
 .term span{
  font-weight: 600;
  font-size: .71rem;
  color: #000;
}
 .term label{
  font-weight: 600;
  font-size: .7rem;
  color: #000;
}
@media(max-width:768px){
  .bussiness-info-header{
   flex-direction: column;
  }
}
.custome-form-check{
  display: flex;
  align-items: center;
  justify-content: center;
}
.custome-form-check input{
 height: .85rem;
 width: .85rem;
 border: 1px solid #232323bf;
}
.qdbtns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.qdbtns .import-btn{
  display: inline-block;
  display: inline-block;
  padding: .4rem .8rem;
  letter-spacing: .5px;
  font-weight: 500;
  font-size: .8rem;
  border-radius: 1.76rem;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #26ace3;
  color: #fff;
} 
@media(max-width:768px){
  .qdbtns{
    flex-direction: column;
    justify-content: center;
  }
}
.gst-details-box label{
  font-weight: 500;
  color: #000;
  padding-left: .25rem;
}
.done-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}
.done-btn a{
  margin-left: .6rem;
  padding: .4rem 1rem;
  letter-spacing: .5px;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 4px;
}
.done-btn a:nth-of-type(1){
 background-color: #259dff;
}
.done-btn a:nth-of-type(2){
  background-color: #6c757d;
 }
 .bussines-box .bussiness-item{
  font-family: 'Montserrat', sans-serif;
  background-color: #faedcd;
  padding: .5rem .3rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #23232361;
 }
 .bussines-box .bussiness-item:hover{
  box-shadow: 5px 5px 10px #23232341;
 }
 .bussines-box .bussiness-item .businessName{
  font-size: .9rem;
  font-weight: 600;
  color: #000;
 }
 .bussines-box .bussiness-item span {
  color: #000;
  display: block;
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: .3rem;
 }
 .bussines-box .bussiness-item  .link-group{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: .5rem;
 }
 .bussines-box .bussiness-item  .link-group a{
  padding: .2rem .6rem;
  font-weight: 500;
  color: #000;
  font-size: 1rem;
 }
 .bussines-box  .add-business{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
 }
 .bussines-box  .add-business a{
  display: block;
  text-align: center;
  margin-bottom: .5rem;
  font-weight: 500;
  letter-spacing: .5px;
  font-size: .8rem;
  color: #000;
}
.closing-stock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.closing-stock .closing-stock-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closing-stock .closing-stock-item p{
  margin: 0;
}
@media(max-width:600px){
  .closing-stock{
   flex-direction: column;
   width: 100%;
   justify-content: center;
  }
  .closing-stock .closing-stock-item{
    margin-top: .5rem;
  }
}
.table-responsive .table .currentYr{
  background-color: #fdf4e7;
}
.table-responsive .table .previousYr{
  background-color: #9fcf9f54;
}
#presumtiveLink{
  display: none;
}
#presumtiveLinkEdit{
  display: none;
}
.modal .small-format{
  color: #000;
  font-weight: 500;
  font-size: .7rem;
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}
.modal-btn-group{
  margin-top: 1rem;
}
.modal-btn-group a{
  display: inline-block;
  padding: .4rem .8rem;
  letter-spacing: .5px;
  font-weight: 500;
  font-size: .8rem;
  margin-right: .5rem;
  border-radius: 4px;
  border: none;
  outline: none;
  text-decoration: none;
}
.modal-fullscreen{
  width: 2000px;
  max-width: 100%;
  margin: auto;
}
.modal-ninety{
  width: 2000px;
  max-width: 95%;
  margin: auto;
}
.modal .grossReceipts{
  border: 1px solid #4b83a7;
  width: 99.9%;
  padding: 1rem .5rem;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.modal .grossReceipts small{
  font-size: .75rem;
  font-weight: 500;
  color: #000;
}
.modal .grossReceipts h2{
 font-size: 1.4rem;
 color: #000;
 font-weight: 500;
 margin-bottom: 1rem;
 font-family: 'Montserrat', sans-serif;
}
.modal .pandlPreview{
  border: 1px solid #fdaea7;
  padding: 1rem .5rem;
}
.modal .grossReceipts .form-label{
  font-size: .75rem;
  font-family: 'Montserrat', sans-serif;
 }
 .modal .grossReceipts .liability{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 .modal .grossReceipts .liability h3{
  font-weight: 600;
  color: #000;
  font-size: .95rem;
 }
 .auditor-masterBtn{
  display: inline-block;
  padding: .4rem 1rem;
  font-size: .8rem;
  letter-spacing: .5px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #26ace3;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
 }
 .auditor-masterBtn:hover{
  color: #fff;
 }
 .delete-with-checks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
 }
 .delete-with-checks .form-check{
  display: flex;
  align-items: center;
  padding: 0 1rem 0 0;
  margin: 0 .5rem;
 }
 .delete-with-checks .form-check-input{
  padding: 0;
  margin: 0;
  border: 1px solid #23232345;
  height: .85rem;
  width: .85rem;
 }
 .delete-with-checks a{
 padding: 0;
 margin: 0;
 font-size: 1.2rem;
 color: #ed5e68;
 }
 .modal .sources-table .table{
  max-width: 100%;
  min-width: fit-content;
 }
 .hideTable {
  display: none;
}
.tableBtn{
  background-color: #00bcd4;
  color: #fff;
}
.table-toggle-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.table-toggle-btn input{
  display: inline-block;
  height: 1rem;

  border: 1px solid #2323236e;
}
.table-toggle-btn label{
  font-weight: 600;
  font-size: .8rem;
}
.bg-hotpink{
  background-color: #fdf4e7 !important;
}
/* =====================auditor================= */
.audit-form-box{
  border: 1px solid #4b83a7;
  max-width: 98%;
  margin: auto;
}
.audit-form-info .form-check-input{
  border: 1px solid #2323235e;
}
.audit-form-box .auditorDetails{
  border: 1px solid #4b83a7;
  padding: 1rem;
}