body a{
    text-decoration: none;
    color: #3f6ad8;
}
body a:hover{
    text-decoration: none;
}
.breadcrumbs a{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #3f6ad8;
    letter-spacing: .5px;
}
.header-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.header-btn a{
    padding: .4rem 1rem;
    display: inline-block;
    margin-right: .5rem;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .5px;
    text-decoration: none;
    outline: none;
}
.header-btn .add-btn a{
    border: 1px solid #26ace3;
    color: #26ace3;
}
.header-btn .add-btn .selected{
    background-color: #26ace3;
    color: #fff;
}
.retrun-btn a{
    background-color: #ff9800;
    border: 1px solid #ff9800;
    color: #fff;
}
.content {
    display: none;
  }
  .active-content {
    display: block;
  }
@media(max-width:550px){
    .header-btn{
        flex-direction: column;
        justify-content: center !important;
        display: block;
        align-items: center;
    }
    .header-btn a{
       margin-bottom: 1rem;
    }
    .btn-child{
        display: flex;
        justify-content: space-between !important;
    }
}
.table-responsive .table th{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    font-size: .85rem;
}
.table-responsive .table td{
    color: #000 !important;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    font-size: .8rem;
}
.breadcrumbs{
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav .breadcrumb a{
    font-weight: 500;
    color: #5676ff;
    letter-spacing: .5px;
    font-size: .85rem;
  }
.main-heading{
    color: #000;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}
.details-box{
    border: 1px solid #23232327;
    border-radius: 4px;
    margin : 1.5rem auto;
    padding: 1.2rem .5rem;
}
.form-label {
    color: #000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    font-size: .8rem;
}
.form-label span{
    color: #ff0000;
    font-weight: 600;
}
.form-control{
    font-size: .85rem;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    letter-spacing: .5px;
    font-weight: 500;
}
.disabled{
    cursor: not-allowed;
}
.details-box h4{
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .2rem;
    margin-top: .5rem;
}

.main-btn a{
    padding: .4rem 1rem;
    display: inline-block;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    text-decoration: none;
    color: #fff;
}
.main-btn a:nth-of-type(1){
    border-right: none;
    background-color: #26ace3;
}
.main-btn a:nth-of-type(2){
    background-color: #6c757d;
}
@media(max-width:768px){
    .btn-box{
        flex-direction: column;
    }
    .main-btn{
       margin-top: 1rem;
    }
}
.breadcrumbs{
    padding: 1rem;
    border-radius: 4px;
}
.breadcrumbs a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.header-btn-bg{
    padding: .5rem 1rem ;
    margin-bottom: 2rem;
}
@media(max-width:768px){
    .header-btn-bg{
      display: flex;
    }
}
#customeTable th{
    font-size: .7rem;
}
#customeTable td{
    font-size: .69rem;
    letter-spacing: .8px;
}
.table-responsive .table td {
    max-width: 55rem;
}
/* =============================Custome Header======================== */
.custome-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding: .5rem .7rem;
    background-color: #eee;
    align-items: center;
}
.custome-header .client-name{
    font-weight: 600;
    letter-spacing: .5px;
    color: #000;
    font-size: .9rem;
}
.custome-header .header-link{
    font-weight: 500;
    margin-right: .4rem;
    display: inline-block;
    font-size: .8rem;
    color: #000;
}
.custome-header .header-link a{
    color: #3f6ad8;
    text-transform: capitalize;
}
.custome-header .header-item{
    margin-bottom: .2rem;
}
.custome-header .header-link a img{
    mix-blend-mode:multiply;
}
.custome-dropdowm{
    display: flex;
    align-items: center;
}
@media(max-width:600px){
    .custome-header{
        flex-direction: column;
    }
    .custome-header .header-item{
        margin-bottom: .5rem;
    }
    .custome-header .custome-dropdowm{
        max-width: 90%;
        width: 100%;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
}
.return-section{
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.return-section span{
    font-weight: 600;
    margin-right: .6rem;
    color: #999;
}
/* ===================Toggle switch========================= */
.custome-toggle{
    margin-right: .5rem;
}
.custome-toggle .new{
    margin-right: 2.2rem;
    color: #26ace3;
}
.custome-toggle .old{
    color: #34a853;
}
.custome-toggle .new strong{
   font-weight: 600;
   font-size: .7rem;
   color: #000;
}
.custome-toggle label{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: .65rem;
    color: #000;
}
.filling-btn{
    margin: 0 .5rem;
}
.filling-btn a{
    margin: 0 .5rem;
    padding: .4rem .9rem;
    display: inline-block;
    letter-spacing: .5px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
}
.filling-btn a:nth-of-type(1){
   background-color: #26ace3;
}
.filling-btn a:nth-of-type(2){
    background-color: #ff9800;
 }
 .breadcrumbs-top{
    border-radius: 0;
    margin-top: 0;
}
.table-responsive .colspan-row{
    background-color: #d1e7dd !important;
}
.table-responsive .colspan-row th{
    font-size: 1 !important;
    font-weight: 700;
    color: #3a579a !important;
    letter-spacing: .5px;
}
.table-responsive .table-header{
    background-color: #e3d5ca !important;
}
.fy-year{
    border: 1px solid #999;
    padding: .4rem .6rem;
    border-radius: 4px;
    color: #000;
    font-weight: 600;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    cursor: not-allowed;
}
@media(max-width:1100px){
    .custome-header{
        flex-direction: column;
    }
    .custome-header .header-item{
        margin-bottom: .5rem;
    }
    .custome-header .custome-dropdowm{
        max-width: 90%;
        width: 100%;
        margin-top: .8rem;
        margin-bottom: .8rem;
    }
    .custome-dropdowm{
        flex-direction: column;
        justify-content: space-around;
    }
    .filling-btn{
        margin:  .6rem 0;
    }
}
/* ========================== */
.main-heading{
    text-align: center;
}
.main-heading h4{
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 1.25rem;
    letter-spacing: .5px;
}
.input-group{
    border: 1px solid #999;
    margin: auto;
    padding: .5rem;
}
.detele-btn{
    display: flex;
    text-align: center;
    justify-content: center;
}
.add-new-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}
.add-new-btn button{
    padding: .5rem 1rem;
    background-color: #34a853;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .5px;
}
.emlpoyer-type{
    display: flex;
    flex-direction: row;
}
.emlpoyer-type a{
    border: 1px solid khaki;
    min-width: fit-content;
    vertical-align: middle;
    text-align: center;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    padding: .4rem 1rem;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: .5px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ff9800;
    color: #ff9800;
}
.emlpoyer-type .selected{
    background-color: #26ace3;
    border: 1px solid #26ace3;
    color: #fff;
}
@media(max-width:768px){
    .add-new-btn{
        flex-direction: column;
        flex-wrap: wrap !important;
    }
    .add-new-btn button{
       margin-bottom: 1rem;
    }
}
@media(max-width:550px){
    .emlpoyer-type{
       flex-wrap: wrap;
    }
    .emlpoyer-type a{
       margin-top: .6rem;
       margin-bottom: .6rem;
    }
}
.add-sal-emp{
    border: 1px solid #999;
}
/* ======================Accordian======================= */
.accordion-body .accordion-button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: .85rem;
}
/* =======================Horizontal Stepper=================== */
html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}
.md-stepper-horizontal {
    font-family: 'Montserrat', sans-serif;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}
.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
}
.md-stepper-horizontal .md-step:active {
	border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
	background-color:#F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: rgb(33,150,243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
	font-family:'FontAwesome';
	font-weight:100;
	content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
	text-align: center;
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-optional {
	font-size:12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
	color:rgba(0,0,0,.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
@media(max-width:768px){
    .md-stepper-horizontal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .md-stepper-horizontal .md-step .md-step-title{
        font-size: .7rem;
    }
}
/* =======================custome Tab design====================== */
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  .tabs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
  }
  
  .tabs .tab{
    border: 1px solid #F96302;
    margin-right: 1rem;
    border-radius: 4px;
    padding: .5rem 1.2rem;
    font-weight: 500;
    color: #F96302;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: .85rem;
  }
  .tab.active {
    background-color: #26ace3;
    color: #fff;
    border: 1px solid #26ace3;
  }
  
  .tab-content {
    border: 1px solid green;
    margin-top: .5rem;
  }
  #noButton, #yesButton{
    border: none;
    outline: none;
    font-weight: 500;
    padding: .1rem .6rem;
    border-radius: 4px;
    border: 1px solid #26ace3;
    color: #000;
    background-color: #fff;
  }
  #yesContent{
    display: none;
  }
  #yesButton.active {
    background-color: #26ace3;
    color: #fff; 
  }

  #noButton.active {
    background-color: #26ace3;
    color: #fff; 
  }
  .button-group button{
    border: none;
    outline: none;
    font-weight: 500;
    padding: .1rem .6rem;
    border-radius: 4px;
    border: 1px solid #26ace3;
    color: #000;
    background-color: #fff;
  }
  .button-group button.active{
   background-color: #26ace3;
   color:#fff;
  }
  /* =========================== Add and Remove row from the table====================== */
._table :is(th, td) {
    border: 1px solid #0002;
    padding: 8px 10px;
}
.success {
    background-color: #24b96f !important;
}

.warning {
    background-color: #ebba33 !important;
}

.primary {
    background-color: #259dff !important;
}

.secondery {
    background-color: #00bcd4 !important;
}

.danger {
    background-color: #ff5722 !important;
}

.action_container {
    display: inline-flex;
}

.action_container>* {
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.action_container>*+* {
    border-left: 1px solid #fff5;
}

.action_container>*:hover {
    filter: hue-rotate(-20deg) brightness(0.97);
    transform: scale(1.05);
    border-color: transparent;
    box-shadow: 0 2px 10px #0004;
    border-radius: 2px;
}

.action_container>*:active {
    transition: unset;
    transform: scale(.95);
}
.table-responsive .table{
    max-width: 100%;
}
.padding-less-input .table .form-control{
    padding: 0;
    outline: none;
}
.padding-less-input .table .form-control:focus{
    outline: none;
    box-shadow: none;
}
.padding-less-input .table td{
    padding: .1rem;
}