#preparegstin .steps a,.download-btn a{
    text-decoration: none;
    color: #26ace3;
    font-size: 14px;
    font-weight: 600;
}
#preparegstin a:hover{
    text-decoration: none;
    /* color: #3f6ad8; */
    opacity: 0.8;
}
#preparegstin .header-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#preparegstin .steps,.custome-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
#preparegstin .header-links .form-select, .gstr_prepare .form-select{
  font-size: 12px!important;
  box-shadow: none;
  cursor: pointer;
}

.norecordFound{
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.norecordFound a{
  text-decoration: none;
  color: #26ace3;
  font-size: 13px;
}
.gstinSummary .norecordFound{
  font-size: 12px;
}
.table-responsive .thead th,.table-responsive table th .dropdown-toggle{
  color:#3f6ad8!important;
}
.table-responsive table th .dropdown-toggle:hover,.table-responsive td .dropdown-toggle:hover{
  text-decoration: underline;
  background-color: transparent;
}
.table-responsive .dropdown-toggle{
  font-size: 10px;
  color: #000!important;
  font-weight: 600;
  padding: 0;
  border: 0;
  white-space: break-spaces;
}
.table-responsive td .dropdown-toggle{
  font-weight: 500;
}
.table-responsive .dropdown-toggle:hover,.table-responsive .dropdown-toggle:active{
  background-color: inherit!important;
}
.table-responsive .dropdown-menu .dropdown-item{
  white-space: break-spaces;
  /* max-width: 300px; */
  display: block;
  font-size: 11px;
}
.gstin3b_table .dropdown-menu{
  position: absolute;
    background-color: #f9f9f9;
    max-width: 360px;
    box-shadow: 0 7px 21px 5px rgba(0,0,0,.2);
    /* white-space: break-spaces; */
    border-radius: 4px;
    top: 10px!important;
}
.gstin3b_table ul{
  padding: 0px 15px;
}
.gstin3b_table li{
  line-height: 15px;
  margin: 5px 0;
  color: #000;
}
.gstin3b_table .heading{
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 5px;
  color: #000;
}
.gstin3b_table span{
  font-weight: 500;
  font-size: 9px;
}
.table-responsive tr:not(.thead) th{
  font-size: 10.2px;
}
.gstin3b .form-control, .gstin3b #table_body .form-select,.gstr_prepare .form-select,.gstr_prepare .form-control{
    font-size: 10px;
    height: 24px;
    border-radius: 4px;
    box-shadow: none;
}
#sendMail.gstr_prepare .form-control{
  height: calc(2.25rem + 2px);
  font-size: 12px;
}
.table-responsive .fa-eye{
  color: darkslategray;
}
.gstin3b .trBg{
  background-color: #e0f3ff !important;

}
@media(max-width:768px){
  
   #preparegstin .steps div{
    flex-grow: 1;
   }
   #preparegstin .header-links-items .flex-row{
    justify-content: center!important;
   }
}
.steps .count{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: .5rem;
    font-weight: 600;
    color: #26ace3;
    border: 1px solid #26ace3;
}
.steps .selected{
    border: 1px solid #26ace3;
    background-color: #26ace3;
    color: #fff;
}
.bookdata{
    border: 1px solid #26ace3;
    border-radius: 0;
    font-size: 12px;
}
.bookdata a{
    padding: .4rem 1rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .5px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #26ace3;
}
.bookdata .selected{
    background-color: #26ace3;
    color: #fff;
}
.toggle-btn{
    background-color: #eaeaea;
}
.bookdata a:nth-of-type(1){
    border-right: 1px solid #FFF;
}
.table-responsive table tr{
    border: 1px solid #23232329;
}
.table-responsive table th{
    border: 1px solid #23232329;
    color:#3f6ad8!important;
    /* text-align: center; */
}
.table-responsive table td{
    border: 1px solid #23232329;
    /* text-align: center; */
}
.table-responsive table th{
  vertical-align: middle;
}
.custome-accordion button{
   border-radius: 0px !important;
}
.custome-accordion{
    border-radius: 0 !important;
}
.custome-accordion button:focus{
   outline: none !important;
}
.custome-accordion button:active{
    outline: none !important;
 }
 .accordion-button{
    border: none !important;
    font-weight: 600;
    box-shadow: none!important;
}
.accordion-button strong{
    margin-right: .5rem;
    font-size: 1.1rem;
}
.accordion-button:focus {
    box-shadow: none;
}

.accordion-item .accordion-button.collapsed{
    background-color: #eaeaea;
}

.download-btn a{
  text-transform: capitalize;
  padding: 0.5rem 0.8rem;
  letter-spacing: .5px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 10px;
  display: inline-block;
}
.download-btn a:hover{
  color: rgba(0, 0, 0, 0.8);
}
.accordion-header button{
  background-color: #26ace3!important;
  color: #fff!important;
  font-size: 14px;
  padding: 10px;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
}
.accordion-button::after{
  content: "\f107";
  font-family: FontAwesome;
  background-image: none!important;
  font-size: 18px;
}
.table-responsive{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #23232329;
  border-top: 0;
}
.gstin3b .bg-light,.modal .bg-light{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
  background-color: #26ace3!important;
  color: #fff;
  height: 2.8rem;
  font-weight: 600;
  font-size: 13px;
}
.gstin3b .liability-breakup span{
  padding: 10px;
}
.gstin3b .cardlink a{
  text-decoration: none;
}
.accordion-item{
  border: none!important;
}
.gstin3b_Box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    min-height: 150px;
}
.gstin3b_container{
  border-radius: 4px;
  border-left-width:6px!important;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  min-height: 150px;
  max-height: 100%;
}
#NTL{
  border: 1px solid orange;
}
#LB{
  border: 1px solid rgba(25, 223, 101, 0.881);
}
#TB{
  border: 1px solid skyblue;
}
.gstin3b_detail{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.gstin3b_container .gstin3b_detail h6{
  font-size: 12px;
}
.gstin3b_container .gstin3b_detail h5{
  font-size: 14px;
  font-weight: 400;
}
.gstin3b_container .gstin3b_detail .inrTxt{
  font-size: 13px;
  margin-bottom: 10px;
}
.gstin3b_container .gstin3b_detail p{
  font-size: 12px;
}
.gstin3b_container .detailBtnBlock{
  position: absolute;
  bottom: 10px;
}
.gstin3b_container button{
  font-size: 13px;
  border: none;
  outline: none;
  color: #26ace3;
  background-color: transparent;
  font-weight: 600;
  padding: 0;
}
@media(max-width:768px){
    .download-btn {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    .download-btn a{
        margin-bottom: .5rem;
    }
    .gstin3b_Box{
    grid-template-columns: repeat(1,1fr);
}
}
.custome-flex{
    justify-content: space-between!important;
}
@media(max-width:992px){
    .custome-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .custome-flex .bookdata{
        margin-bottom: 1rem;
    }
    .gstin3b .bg-light{
      height: auto;
    }
    .gstin3b .form-control, .gstin3b #table_body .form-select{
      min-width: 100px;
      width: 100%;
  }
}
.custome-header-margin{
    margin-top: 3.5rem;
 }
/* ==========================modal========================= */
.custome-btn-group a {
    border: 1px solid #fff;
    padding: .4rem 1rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: .5px;
    background-color: none;
    border: 1px solid #999;
}
.custome-btn-group .selected {
    background-color: #26ace3;
    color: #FFF;
}
/* ============================Import Book data===================== */
#importBookData p{
    color: #000;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 1rem;
}

/* =========================== Add and Remove row from the table====================== */
._table :is(th, td) {
    border: 1px solid #0002;
    padding: 8px 10px;
}
.success {
    background-color: #24b96f !important;
}

.warning {
    background-color: #ebba33 !important;
}

.primary {
    background-color: #259dff !important;
}

.secondery {
    background-color: #00bcd4 !important;
}

.danger {
    background-color: #ff5722 !important;
}

.action_container {
    display: inline-flex;
}

.action_container>* {
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}

.action_container>*+* {
    border-left: 1px solid #fff5;
}

.action_container>*:hover {
    filter: hue-rotate(-20deg) brightness(0.97);
    transform: scale(1.05);
    border-color: transparent;
    box-shadow: 0 2px 10px #0004;
    border-radius: 2px;
}

.action_container>*:active {
    transition: unset;
    transform: scale(.95);
}
/* ========================== */
.radio-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.radio-group{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.radio-group label{
    font-weight: 500;
    font-size: .8rem;
    text-transform: capitalize;
}
.radio-group .form-check{
    margin-right: .5rem;
    margin-bottom: 0;
}
/* Modal CSS */
.gstr_prepare .modal-dialog.modal-fullscreen{
  width: 80%;
  margin: 20px auto;
  max-width: 100%;
}
.gstr_prepare .modal-title{
  font-size: 18px!important;
  color: #000;
  font-weight: 600;
}
.gstr_prepare .modal-fullscreen{
  height: auto!important;
}
.gstr_prepare .modal-footer .btn{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.gstr_prepare .btn-close{
  box-shadow: none ;
}
@media(max-width:992px){
    .radio-links{
        flex-direction: column;
    }
    .radio-group{
        margin-top: .2rem;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.flex-accordian-btn{
    display: flex;
    justify-content: space-between;
}
.accordion-body {
    padding: 0;
}
/* =============================view/Edit data===================== */
.edit-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4f9;
    padding:  .5rem 1rem;
    flex-wrap: wrap;
}
.edit-header .d-md-block .heading{
  font-size: .9rem;
}
.edit-header .customeDropBox span{
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 13px;
}
.edit-header .heading{
    font-weight: 600;
    color: #000;
    letter-spacing: .5px;
    font-size: 1.1rem;
}
@media(max-width:992px){
    .edit-header .heading{
       display: none;
    }
}
.edit-header .custome-check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.edit-header .custome-check .form-check{
    margin-left: .5rem;

}
.edit-header .custome-check .form-check:nth-of-type(1){
    margin-left: 0rem;

}
.edit-header .custome-check .form-check-label{
    font-size: .72rem;
    font-weight: 500;
    color: #000;
    letter-spacing: .5px;
}
.edit-header .custome-check .form-check-input{
    border: 1px solid #0000007d;
    border-radius: 50%;
    padding: 0;
}
.edit-header .custome-check .uploaded{
    color: #24b96f;
}
.edit-header .custome-check .warnnnig{
    color: #ffc22c;
}

.edit-header .custome-check .error{
    color: #cd1c1f;
}
.edit-header select{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .65rem;
    border: 1px solid #23232386;
}
.edit-header select:hover{
  box-shadow: none;
  cursor: pointer;
  background-color: none;
}
.data-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.data-header small{
    margin-right: .5rem;
    font-weight: 500;
    font-size: .7rem;
    margin-left: .1rem;
}
.data-header small:nth-last-of-type(1){
    margin-right: 0rem;
}
.header-links-items a{
  font-weight: 500;
  font-size: 14px;
  color: #3f6ad8!important;
  text-decoration: none;
}

@media(max-width:768px){
    .data-header{
        flex-direction: column;
    }
    .gstr_prepare .modal-dialog.modal-fullscreen{
      width: 95%;
    }
}
@media(max-width: 992px){
    .edit-header{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
    .edit-header .custome-check{
        margin-top: 1rem;
        flex-wrap: wrap;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: left;
        margin: 1rem 0;
        width: 100%;
        text-align: left;
    }
    .edit-header .customeDropBox{
       margin-bottom: .8rem;
    }
    .edit-header .custome-check .form-check{
        margin: .1rem 0rem;
        width: 100%;
    
    }
    .edit-header .form-select{
        width: 100%;
        display: block;
    }
    .edit-header .lists-btn{
       width: 100%;
       padding-bottom: .5rem;
       justify-content: center;
    }
}
@media(max-width: 768px){
    .edit-header .lists-btn a{
       margin-bottom: 1rem;
     }
     .edit-header .customeDropBox .dropItem{
        margin-bottom: .4rem;
     }
}
  .edit-data-box .hideBox{
    display: none;
  }
  .edit-data-box .custome-header{
    border-radius: 0px;
    background-color: #ebf5e0;
    padding: .4rem .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
    font-size: .85rem;
  }
  .edit-data-box .table-responsive .table{
    font-family: 'Montserrat', sans-serif;
  }
  .edit-data-box .table-responsive .table td{
    font-family: 'Montserrat', sans-serif;
    padding:  .2rem;
    font-size: 10px;
  }
  .edit-data-box .table-responsive .table th{
    font-family: 'Montserrat', sans-serif;
    padding:  .2rem;
    font-size: 10.2px;
  }
  .edit-data-box .table-responsive .table .form-control{
   border-radius: 2px;
   padding: .3rem .5rem;
   outline: none;
   border: 1px solid #2323235f;
   font-weight: 500;
   color: #000;
   font-family: 'Montserrat', sans-serif;
   font-size: 10px;
  }
  .edit-data-box .table-responsive .table .form-select{
    border-radius: 2px;
    outline: none;
    border: 1px solid #2323235f;
    font-weight: 500;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    height: 1.8rem;
   }
   .edit-data-box .table-responsive .table .col{
    padding: 0rem 0rem;

   }
  .edit-data-box .table-responsive .table .form-control:active{
    border: 1px solid #26ace3;
   }
   .edit-data-box .table-responsive .table .form-control:focus{
    border: 1px solid #26ace3;
   }
   .table-responsive .table .totalCount{
    background-color: #fff8dc;
    white-space: nowrap;
  }
  .table-responsive .table .totalCount td{
    font-size: .68rem;
  }
   /* ================== */
   input[type='date']:not(:focus):in-range::-webkit-datetime-edit-year-field,
  input[type='date']:not(:focus):in-range::-webkit-datetime-edit-month-field,
  input[type='date']:not(:focus):in-range::-webkit-datetime-edit-day-field,
  input[type='date']:not(:focus):in-range::-webkit-datetime-edit-text {
     color: transparent;
  }
  .hideScrollbar::-webkit-scrollbar{
    display: none; 
   }
.liability-breakup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0000007d;
    padding: .4rem 0rem;
}
@media(max-width:992px){
    .liability-breakup{
       flex-direction: column;
    }
    .liability-breakup div{
        width: auto;
        text-align: center;
     }
     .liability-breakup .download-btn{
        margin: 5px auto;
     }
     .liability-breakup .download-btn a{
       font-size: 10px;
       letter-spacing: .5px; 

    }
 }
.TwoAbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.TwoAbtn h4{
   font-weight: 500;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.1rem;
   color: #000;
   margin-right: .5rem;
}
@media(max-width:500px){
    .TwoAbtn h4{
        font-size: .9rem;
     }
}
.TwoAbtn a{
   border: 1px solid #ff5722;
   font-family: 'Montserrat', sans-serif;
   padding: .2rem 1rem;
   margin-right: .5rem;
   font-size: .8rem;
   font-weight: 500;
   letter-spacing: .5px;
   color: #ff5722;
   border-radius: 4px;
}
.TwoAbtn a:hover{
    color: #ff5722;
 }
 .TwoAbtn .selected{
    background-color: #ff5722;
    color: #fff;
 }
 .TwoAbtn .selected:hover{
    color: #fff;
 }
 /* ====================custome dropdown=============== */
      .customeDropBox{
        display: flex;
       flex-direction: row;
       align-items: center;
       flex-wrap: wrap;
      }
      .lists-btn{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .lists-btn a{
        padding: .4rem .8rem;
        font-size: .8rem;
        letter-spacing: .5px;
        margin-left: .5rem;
        background-color: #259dff;
        color: #fff;
        border-radius: 4px;
        font-weight: 500;
        text-decoration: none;
        outline:none;
        text-transform: capitalize;
        cursor: pointer;
      }
      .lists-btn a:hover{
        padding: .4rem .8rem;
        font-size: .8rem;
        letter-spacing: .5px;
        margin-left: .5rem;
        background-color: #259dff;
        color: #fff;
        border-radius: 4px;
      }
      .customeDropBox .dropItem{
        border-right: 1px solid #aaa;
        font-size: .8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: .5px;
      }
  
      .customeDropBox .dropItem .dropdown-item .form-check{
        min-height: 0.5rem;
      }
      .customeDropBox .dropItem a{
        border: 0;
        font-size: 11px;
      }
      .customeDropBox .dropItem .dropdown-menu a{
        font-size: 10px;
      }
      .customeDropBox .dropItem:nth-of-type(1){
        background-color: #26ace3;
        color: #fff;
        border-right: none;
      }
      .customeDropBox .dropItem:nth-of-type(1) a,.viewgstBtn{
        background-color: #26ace3!important;
        color: #fff!important;
      }
      .twoATwobTable .qrmp a{
        color: #fca373;
      }
      .twoATwobTable .suppName a{
        color: #3d7da7;
      }
      .twoATwobTable .gstin a{
        color: #000;
      }
      .twoATwobTable .taxableDiff a{
        color: #fe467b;
      }
      .twoATwobTable .matched{
        color: #15cc90 !important;
      }
      .twoATwobTable .matched a{
        color: #15cc90;
      }
      .twoATwobTable .partiallyMatched{
        color: #fe467b !important;
      }
      .twoATwobTable .partiallyMatched a{
        color: #fe467b;
      }
      .twoATwobTable .twoAOnly{
        color: #638268 !important;
      }
      .twoATwobTable .twoAOnly a{
        color: #638268;
      }
      .twoATwobTable .bookOnly{
        color: #ca717c !important;
      }
      .twoATwobTable .bookOnly a{
        color: #ca717c;
      }
      .dropdown .custome-toggle{
        margin: 0 .5rem;
      }
      .main-heading h4{
        text-align: center;
        color: #000;
        font-weight: 600;
        font-size: 1.2rem;
        margin-bottom: .5rem;
      }
      .main-heading p{
        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: .95rem;
        letter-spacing: .5px;
      }
      .main-heading p em{
        font-weight: 600;
        color: #24b96f;
        text-decoration: underline;
      }
      .supplier-check {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .supplier-check input{
        padding: 0.35rem 0.35rem;
        border: 1px solid #929191;
      }
      .fyTxt{
        color: #a1a1a1;
        font-weight: 600;
        margin-right: 8px;
      }
      /* ===========================Import modal========================= */
.file-upload {
    background-color: #ffffff;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #26ace3;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #26ace3;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #26ace3;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #26ace3;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #26ace3;
    border: 4px dashed #ffffff;
  }
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .import-file-modal .modal-content{
    border-radius: 0;
  }
  .import-file-modal .modal-header h1{
    color: #000;
    font-weight: 500;
  }
  
  .text-msg h4{
    font-size: .95rem;
    color: #000;
    font-weight: 500;
  }
  .text-msg a{
    font-size: .9rem;
    font-weight: 500;
    color: #3f6ad8;
  }
  .modal .error-type td{
    color: #ff0000 !important;
  }
  .modal .error-type td a{
    color: #ff0000 !important;
  }
  #errorBox {
    display: none;
    margin: 2rem auto;
    padding: .5rem 4rem;
  }
  .header-checks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .header-checks .check-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header-checks .check-list .form-check{
    margin-left: .6rem;
  }
   .header-checks .check-list .form-check .form-check-label{
    color: #000;
    font-size: .75rem;
  }
  .header-checks .check-list .form-check .matched{
    /* color: #34a853; */
    color: #fff;
  }
  .header-checks .check-list .form-check .mis-matched{
    /* color: #cd1c1f; */
    color: #fff;
  }
  .header-checks .check-list .form-check .book-only{
    /* color: #cd87a9; */
    color: #fff;
  }
  .header-checks .check-list .form-check .r1Only{
    /* color: #5c8a7e; */
    color: #fff;
  }

  .matchingContainer,.MatchingScreenBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .matchingLeftBox{
    width: 90%;
    max-width: 100%;
    justify-content: space-around;
  }
  .matchingHeader,.matchingLeftBox{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }
  .matchingHeader .matchingText{
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .matchingHeader .matchingDate{
    font-size: 13px;
    color: rgb(51, 51, 51);
    cursor: pointer;
  }
  .matchingHeader .matchingDate i{
    color: rgb(51, 51, 51);
    font-size: 13px;
  }
  .matchingHeader .matchingDoc{
    line-height: 1.6rem;
    letter-spacing: 0.02rem;
    font-size: 14px;
    color: rgb(51, 51, 51);
  }
  .matchingHeader .noMatchingData{
    background-color: #FFD7D5;
    padding: 6px;
    font-size: 11.5px;
    color: rgb(122, 7, 0);
    border-radius: 4px;
    font-weight: 600;
  }
  .matchingContainer hr{
    width: 2px;
    height: 30px;
    background-color: #a1a1a1;
    /* margin-right: 10px; */
  }
  .matchingContainer .selectDateBtn{
    margin: 15px;
  }
  .matchingContainer .selectDateBtn button{
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 137, 252);
  }
  @media(max-width:1291px){
  .matchingContainer .selectDateBtn button {
    padding: 4px 8px;
  }
  }
  @media(max-width:1240px) {
    .matchingContainer .seperatorLine{
      display: none;
    }
  }
  @media(max-width:1203px) {
    .matchingHeader,.matchingLeftBox{
      gap: 10px;
    }
    .matchingHeader, .matchingLeftBox{
      justify-content: flex-start;
      width: 100%;
      flex-wrap: nowrap;
    }
    .matchingContainer .selectDateBtn {
      margin: 6px;
      width: 100%;
      text-align: center;
    }
    .matchingContainer, .MatchingScreenBlock{
      flex-wrap: wrap;
    }
    .matchingContainer .selectDateBtn button {
      padding: 6px 10px;
      margin: 10px;
  }
  .MatchingContainer{
    padding: 0;
  }
}
@media(max-width:1088px) {
  .MatchingContainer .MatchingBlock{
    flex-wrap: nowrap;
  }
  #matchingBlock .dashedLine{
    width: 50px;
  }
  #matchingBlock .matchingLine{
    font-size: 13px;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: not-allowed;
    min-height: 40px;
  }
}
  @media(max-width:935px) {
    .matchingHeader, .matchingLeftBox {
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
    }  
    #matchingBlock .quickLinksTabs .link_tab, #matchingBlock .MatchingContainer .MatchingItem{
      width: 265px!important;
    }
    #matchingBlock .matchingLine {
      font-size: 11px;
    }
    #matchingBlock .MatchingContainer .MatchingItem {
      width: 223px!important;
  }  
  }
  @media(max-width:813px){
    #matchingBlock .MatchingContainer .MatchingItem {
      width: 100%!important;
      max-width: 100%!important;
  }
  .MatchingContainer .MatchingBlock {
    flex-wrap: wrap;
    }
  .MatchingContainer .MatchingBlock{
    display: block;
  }
  #matchingBlock .dashedLine{
    width: 0;
    height: 50px;
    margin: auto;
  }
  #matchingBlock .matchingLine{
    margin: auto;
    width: 100%;
  }
  }
  @media(max-width:768px){
  .header-checks{
      flex-direction: column;
      width: 100%;
      justify-content: center;
  }
  .header-checks .check-list{
      margin-top: .5rem;
   }
  .MatchingContainer .MatchingBlock{
    flex-wrap: wrap;
  }
  }
  @media(max-width:550px){
    .header-checks .check-list .form-check .form-check-label{
        font-size: .65rem;
    }
      .header-checks .check-list .form-check input{
        height: .8em;
        width: .8em;
    }
    .header-checks .check-list{
        justify-content: center;
    }
  }
  .table-responsive .table .books{
    background-color: #f4f2fb !important;
  }
  .table-responsive .table .gstrone{
    background-color: #fdf4e7 !important;
  }
  .lists-btn-toggle{
    display: flex;
  }
  .lists-btn-toggle a{
    margin-left: .5rem;
    padding: .35rem .8rem;
    font-weight: 500;
    font-size: .85rem;
  }
  /* ======================consolidated table================ */
  .table-responsive .consolidated-table .setTwo{
    background-color: #fbfaff;
  }
  .table-responsive .consolidated-table .setThree{
    background-color: #fdf4e7;
  }
  .table-responsive .consolidated-table .setFour{
    background-color: #f3f3f3;
  }
  .table-responsive .monthly-consolidate {
    background-color: #f1edf8;
  }
  .table-responsive .monthly-consolidateTwo {
    background-color: #fffbdb;
  }
  .save-data-box{
    background-color: #fffbdb;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
  }
  .save-data-box p{
    margin: 0;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight: 500;
  }
.accordianHeader{
    padding: .2rem .5rem;
    background-color: #ebf5e0;
}
.accordianHeader span{
  color: #222;
  font-weight: 600;
  font-size: .8rem;
  letter-spacing: .5px;
}
#zeroRadius{
  border-radius: 0px;
  border: none;
}