body a{
    text-decoration: none;
    color: #3f6ad8;
}
/* ===============Remove Scrollbar================== */
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
body a:hover{
    text-decoration: none;
}
.returnbtn{
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    letter-spacing: .5px;
    cursor: pointer;
  }
  .returnbtn:hover{
    color: #fff;
    text-decoration: none;
  }
  .header-links{
    justify-content: space-between;
  }
  .header-links .form-select{
    font-size: 13px;
    box-shadow: none;
    cursor: pointer;
  }
  .header-links-items a{
    font-weight: 500;
    font-size: 14px;
  }
  @media(max-width:768px){
    .header-links{
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
    }
    .header-links-items{
      margin-bottom: 1rem;
    }
  }
.pendindreturns{
    color: #ff0000 !important;
    text-decoration: none !important;
    font-weight: 600;
}
.filedreturns{
    color: #34a853 !important;
    text-decoration: none !important;
    letter-spacing: .5px;
    font-weight: 600;
}
.table-responsive .company-name{
    text-decoration: none;
}
/* ================================= */
.button {
    margin-left: 1rem;
    display: inline-block;
    padding: .4rem 1rem;
    text-decoration: none;
    letter-spacing: .5px;
    border-radius: 4px;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
}
.selected {
    background-color: #3498db;
    color: #fff;
}
.selected:hover {
    color: #fff;
}

.content {
    display: none;
}

.active-content {
    display: block;
}
.cv{
    color: #3f6ad8;
}
/* ========= month wise=========== */
.table-responsive  th{
    /* color: #cd1c1f !important; */
    font-weight: 600;
    color: #3f6ad8!important;
    letter-spacing: 0.3px;
}
.table-responsive .count{
    color: darkslategray;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.monthwise-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-right-radius: 4px!important;
    border-top-left-radius: 4px!important;
    background-color: #26ace3;
    color: #fff;
    height: 2.5rem;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 0;
}
.monthwise-header .headerFlexItem span{
    text-transform: capitalize;
}
.gstinSummary {
    padding: 10px;
    /* border: 1px solid #ccc; */
}
.gstinSummary td a, .gstinSummary td span{
    cursor: pointer;
}
.prepare{
    color: #26ace3;
}
.due{
    color: #ff9800;
}
.gstinSummary .table-responsive{
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0!important;
}

.gstinSummary th{
    font-size: 11px!important;
    white-space: nowrap;
}
.gstinSummary td, .gstinSummary .table-body th{
    font-size: 10px!important;
    white-space: nowrap;
}
.gstinSummary .table-body td:nth-last-child(1){
    font-weight: 600;
  }
.gstinSummary .gstr_taxTable .table-body td:nth-last-child(1),.trBg{
    background-color: #e0f3ff!important;
}
.gstinSummary th.total{
    background-color: #e0f3ff;
}
@media(max-width:768px){
    /* .monthwise-header{
        display:  block;
    } */
}
#monthWiseReturnWise{
    display: none;
}
#returnWiseDetails{
    display: none;
}
.return-type-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.return-type-btn a{
    margin-left: 1rem;
    padding: .4rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    background-color: #26ace3;
    color: #fff;
    border: none;
    outline: none;
}
.table-responsive .crossx{
    color: #ff0000b3;
    font-weight: 600;
    font-size: 1.1rem;
}
.table-responsive .check{
    color: #34a853;
    font-weight: 600;
    font-size: 1.1rem;
}
@media(max-width:600px){
    .return-type-btn{
        justify-content: flex-start;
    }
    .return-type-btn a{
        margin-bottom: 1rem;
    }
}
/* ===========================Cash Ledger Modal================================ */
#cashLedger .modal-dialog{
    max-height: 65%;

}
.modalbtns{
    max-width: 100%;
}
.TL_accordion{
    cursor: pointer;
  }
  tr .TL_accordion::before{
    content: "\f107";
    font-family: FontAwesome;
    font-size: 12px;
    margin: 1px 4px 0 0;
  }
  .TL_accordionTable{
    padding: 0;
    margin: 0;
  }
 .TL_accordionrow{
    padding: 0!important;
    margin: 0;
  }
  tr[aria-expanded="true"] .TL_accordion::before{
    content: "\f106";
    font-family: FontAwesome;
    margin: 0 4px 0 0;
  }
@media(max-width:991px) {
    .monthwise-header{
        height: auto!important;
    }
}
@media(max-width:768px){
    .modalbtns{
        margin-bottom: 1rem;
    }
}
.modalbtns a{
    border: 2px solid #fff;
    padding: .4rem 1rem;
    letter-spacing: .5px;
    color: #3f6ad8;
    font-weight: 500;
}
.transactionbtn{
    background-color: #26ace3;
    color: #fff !important;
    border-left: none !important;
}
.balancebtn{
    background-color: #26ace3;
    color: #fff !important;
    border-right: none !important;
}
#cashLedgerTransaction table tr{
    border: 1px solid #23232329;
}
#cashLedgerTransaction table th{
    border: 1px solid #23232329;
}
#cashLedgerTransaction table td{
    border: 1px solid #23232329;
}
#cashLedgerTransaction table th{
    vertical-align: top;
}


#creditLedger table tr{
    border: 1px solid #23232329;
}
#creditLedger table th{
    border: 1px solid #23232329;
}
#creditLedger table td{
    border: 1px solid #23232329;
}
#creditLedger table th{
    vertical-align: top;
}
#importBookData .modal-dialog{
    width: 70%;
    max-width: none;
    height: 100%;
    margin: 20px auto;
}
#importBookData .modal-title{
    font-size: 18px;
}
#importBookData table tr{
    border: 1px solid #23232329;
}
#importBookData table th{
    border: 1px solid #23232329;
    font-size: 11px;
}
#importBookData table td{
    border: 1px solid #23232329;
    font-size: 11px;
}
#importBookData table th{
    vertical-align: middle;
}
#importBookData .btn-close{
    font-size: 13px;
}
#importBookData .thead{
    background-color: #26ace3!important;
    color: #fff!important;
    font-size: 13px;
}
#importBookData .thead th{
    color: #fff!important;
    font-size: 12px;
}
#importBookData .modal-footer button{
    padding: 5px;
    font-size: 13px;
    min-width: 80px;
    max-width: 100%;
    font-weight: 600;
    border-radius: 4px;
}

/* ============================date picker============================= */
.calender{
    font-size: 1.5rem;
    font-weight: 500;
}
/* ========================== */
#importBtn{
    position: fixed;
    bottom: 45%;
    right: -75px;
    border-radius: 0px;
    background-color: #26ace3;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
	border-radius: 4px;
    transform: rotate(90deg);
    z-index: 100;
    padding: 0 .5rem;
}
#importBtn a{
	display: inline-block;
	font-size: 14px;
	padding: 5px; 
    font-weight: 600;
	color: #fff;
	text-transform: uppercase;
    letter-spacing: .5px;
}
/* ================import modal====================== */
.import-file{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: .5rem;
    font-weight: 500;
    color: #000;
    font-size: 11px;
}
.import-file .delete{
    color: #ff0000;
    font-weight: 500;
    font-size: 12px;
}
.download-btn a{
    text-transform: capitalize;
    padding: 6px;
    letter-spacing: .5px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    display: inline-block;
}
.download-btn a:hover{
    /* color: #fff; */
    color: rgba(0, 0, 0, 0.8);
}
.quickLinks{
    padding: 10px;
}
.quickLinks h6{
    font-size: 14px;
    margin-bottom: 15px;
}
.quickLinksTabs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.quickLinksTabs .link_tab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 6px 14px 6px 6px;
    border: 1px solid rgb(225, 229, 238);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}
.quickLinksTabs .link_tab.active{
    border: 1px solid rgb(127, 227, 173);
    background-color: rgb(210, 248, 227);
}
.quickLinksTabs .link_tab:hover{
    transition: 0.2s ease-in-out;
    box-shadow: rgb(190, 194, 204) 0px 8px 13px;
}
.quickLinksTabs .link_tab img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.quickLinksTabs .link_tab span{
    font-size: 11px;
    font-weight: 600;
}
@media(max-width:991px){
    .quickLinksTabs .link_tab{
        flex-grow: 1;
    }
}
@media(max-width:768px){
    .download-btn {
        /* margin-top: 1rem;
        margin-bottom: .5rem; */
    }
    .download-btn a{
        margin: .5rem auto;
    }
}