.stepper .stepperHeading{
    color:  #000;
    font-size: .95rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    margin-bottom: 0rem;
    margin-top: .25rem;
}
.stepper .stepperHeading .paraLead{
    color:  #666;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    margin-top: 2rem;
}
/* =================Global UI===================== */
.form-select{
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: .8rem;
  letter-spacing: .5px;
}
.form-select:focus{
    box-shadow: none;
}
.sectionHeader{
    background-color: #26ace3;
    padding: .5rem 1rem;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sectionHeader a{
    color: #fff;
    letter-spacing: .5px;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.sectionHeader span{
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    font-size: .9rem;
}
.sectionHeading{
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0rem;
}
.btn-close:focus{
    box-shadow: none;
}
.closeBtn{
    border: none;
    outline: none;
    background-color: transparent;
}
.closeBtn img{
    mix-blend-mode: multiply;
}
.uiBtn{
    border: none;
    outline: none;
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
}
.breadcrumb{
    background-color: transparent;
}
.sectionHeader .headerBtn{
    padding: .5rem 1rem;
    background-color: #fff;
    border-radius: 4px;
    color: #222;
    display: inline-block;
}
/* ===================== */
@media(max-width: 768px){
    .card-body {
        padding: .6rem;
    }
    .sectionHeader{
      flex-direction: column;
    }
    .sectionHeader span{
        font-size: .85rem;
      }
    .app-main .app-main__inner{
        padding: 0rem
    }
    .breadcrumb{
        padding: 0rem;
        margin-bottom: .8rem;
    }
    nav .breadcrumb a{
        font-size: .75rem;
    }
    .sectionHeading{
        font-size: 1.1rem;
    }
    .sectionHeader .headerBtn{
       margin-top: .5rem;
    }
}

@media (max-width: 768px){
    .group-btn a {
        border-radius: 4px;
        font-size: .8rem;
        color: #fff;
    }
    .sectionHeader a{
        font-size: .8rem;
    }
}
/* =================================== */
.group-btn a{
    display: inline-block;
}
